.home-container {
  width: 100%;
  /* height: 100vh; */
}
.home-coverimage {
  width: 100%;
}
.home-covercard {
  width: 100%;
  /* overflow: hidden; */
  position: relative;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  background: rgb(126,22,25);
  background: linear-gradient(90deg, rgba(126,22,25,1) 0%, rgba(238,42,46,1) 100%);
}
.covercard-headertext {
  font-size: 54px;
  color: white;
  width: 400px;
  font-family: "Gelasio", serif;
}
.covercard-subcontainer {
  width: 50%;
  height: 500px;
}
.homecard-color-carousel {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homecard-color-card {
  width: 200px;
  margin: 5px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.covercard-bottomcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.covercard-bottomtext {
    font-size: 22px;
    color: white;
    line-height: 40px;
    width: 450px;
}
.covercard-collectionbtn {
    width: 200px;
    background-color: white;
    color: #EE2A2E;
    font-size: 20px;
    height: 55px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.covercar-image {
    position: absolute;
    right: 0;
    top: 0px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .home-covercard {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .covercard-subcontainer {
        width: 100%;
        margin-top: -125px;
    }
    .covercard-headertext {
        font-size: 30px;
        margin-left: 10px;
        margin-bottom: 50px;
        width: 35%
    }
    .covercard-bottomcontainer {
        width: 50%;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 100px;
        margin-top: 0px;
    }
    .home-covercard {
        position: relative;
    }
    .covercar-image{
        top: -140px
    }
    .home-coverimage {
        height: 60vh;
    }
}
@media screen and (max-width: 425px) and (min-width: 320px) {
    .homecard-color-card {
        height: 100px;
    }
    .homecard-color-carousel {
        margin-top: 80px;
    }
    .covercard-bottomtext {
        width: 200px;
        font-size: 18px;
    }
    .covercard-bottomcontainer {
        top: 50px;
        right: 10px;
    }
    .covercard-headertext {
        margin-bottom: 65px;
    }
}