.home-aboutconatiner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: '100px 0px'
}
.home-aboutinnercontainer {
  width: 90%;
  margin-top: 80px;
}
.home-aboutheading {
  font-size: 50px;
  font-family: "Gelasio", serif;
}
.home-discovercollection-button {
  padding: 15px 60px;
}
.home-aboutsubcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-about-sections {
  width: 47.5%;
  /* margin: 10px; */
  margin-top: 35px;
  line-height: 30px;
}
.youtube-iframe {
  border-radius: 25px;
}
.home-about-sections span {
  height: 500px;
  font-size: 20px;
}
.home-aboutcard {
  width: 100%;
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-aboutcards {
  border: 1px solid #ee2a2e;
  border-radius: 15px;
  width: 325px;
  height: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 10px 15px 15px #80808024;
}
.home-aboutcards div {
  margin-top: 25px;
  font-weight: 600;
}
@media screen and (max-width: 1024px) and (min-width: 320px) {
  .home-aboutsubcontainer {
    flex-direction: column-reverse;
  }
  .specififc-video {
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
  }
  .home-about-sections {
    width: 100%;
    margin-top: 0px;
  }
  .home-about-sections span {
    font-size: 16px;
  }
  .home-discovercollection-button {
    padding: 15px 70px;
  }
  .home-aboutcard {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) and (min-width: 320px) {
  .home-aboutcards {
    width: 155px;
    height: 160px;
    margin: 5px;
    align-items: center;
    background-color: white;
    box-shadow: 10px 15px 15px #80808024;
  }
  .home-aboutcards div {
    font-size: 13px;
  }
  .home-aboutconatiner {
    /* margin-top: 80px; */
  }
  .home-about-sections {
    margin: 0px;
  }
  .home-aboutinnercontainer {
    margin-top: 30px;
  }
}
