.home-loveus-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-loveus-innercontainer {
    width: 60%; 
}
.home-loveus-innercontainer2 {
    width: 40%; 
    margin-right: 30px;
}
.home-loveus-heading {
    font-size: 55px;
    margin-top: 20px;
    color: #221F1F;
    font-family: "Gelasio", serif;
}
.home-loveus-desc {
    font-size: 18px;
    line-height: 30px;
    color: #221F1F;
}
.home-loveus-progress {
    width: 100%;
    height: 5px;
    background-color: #D8DEDF;
    margin: 45px 0px;
}
.home-loveus-progressfill {
    background-color: #EE2A2E;
    width: 50%;
    height: 5px;
}

@media screen and (max-width: 1024px) and (min-width: 756px) {
    .home-loveus-container {
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
    }
    .home-loveus-innercontainer2 {
        width: 65%; 
        margin-right: 0px;
    }
    .home-loveus-innercontainer {
        width: 80%; 
    }
    .home-loveus-innercontainer img{
        width: 100%; 
        margin: 50px 0px
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .home-loveus-innercontainer2 {
        width: 90%;
    }
    .home-loveus-innercontainer {
        width: 100%;
    }
}