.ourmission-container {
  width: 90%;
}
.ourmission-heading {
  font-size: 50px;
  font-family: "Gelasio", serif;
  font-weight: 600;
}
.ourmission-subcontainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}
.warranty-notcover {
  margin: 0px !important;
  margin-top: 50px !important;
}
.ourmission-innercontainer {
  width: 48%;
  line-height: 35px;
  font-size: 20px;
}
.ourmission-image {
  width: 100%;
}
.ourmission-details {
  width: 70%;
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  .ourmission-heading {
    font-size: 35px !important;
    text-align: center;
  }
  .ourmission-details {
    width: 100%;
    margin-top: 20px;
  }
  .ourmission-subcontainer {
    flex-direction: column !important;
  }
  .ourmission-innercontainer {
    width: 95% !important;
    line-height: 35px;
    font-size: 17px !important;
    margin-bottom: 50px;
  }
}
