.footer-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.footer-container img {
  margin: 25px 0px;
}
.footer-container-links {
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.footer-innersection {
    width: 320px;
}
.footer-innersection div:nth-child(1){
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer-contacticon-container {
    display: flex;
}
.footer-contacticon-container div{
    font-size: 15px;
    margin-left: 20px;
    width: 70%;
    height: 60px;
}
.footer-column {
    display: flex;
    height: 200px;
    flex-direction: column;
}
.footer-link {
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 13px 0px;
}
.footer-innercontainer {
    width: 90%;
}
.foolter-endsection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}
.footer-copyright {
    color: 15px;
}
.footer-socialmedia {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
}
.footer-bgimage {
    position: absolute;
    right: 0;
    bottom: -100;
}

@media screen and (max-width: 1024px) and (min-width: 756px) {
    .footer-container-links {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-innersection {
        width: auto;
    }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .footer-container-links {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .foolter-endsection {
        flex-direction: column-reverse;
    }
    .footer-socialmedia {
        width: 300px;
        font-size: 15px;
        margin-bottom: 30px;
    }
}