.choosecolor-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choosecolor-innercontainer {
    width: 26%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.choosecolor-innercontainer2 {
    width: 74%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.choosecolor-cover {
    width: 90%;
    margin-top: 10px;
}
.choosecolor-bgncontainer {
    display: flex;
    margin-top: 50px;
}
.choosecolor-btn-active {
    padding: 15px 30px;
    background-color: #EE2A2E;
    color: white;
    border-radius: 35px;
    margin: 2px;
}
.choosecolor-btn {
    padding: 15px 30px;
    border: 2px solid black;
    border-radius: 35px;
    font-weight: 600;
}
.choosecolor-sel-container {
    width: 100%;
    height: 50vh;
    margin-top: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.choosecolor-amb-container {
    width: 100%;
    height: 80vh;
    margin-top: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.choosecolor-palete-container {
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.choosecolor-palate {
    text-align: center;
    width: 30%;
    margin: 5px;
}

.choosecolor-palatetext {
    margin: 15px;
}
.choosecolor-selectcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0px;
}
.choosecolor-selectcontainer div {
    font-size: 22px;
    font-weight: 600;
}
.choosecolor-selectcontainer input {
    width: 200px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0px;
}
.choosecolor-topcontainer {
    display: flex;
    margin-top: 20px;
}
.choosecolor-palate-top {
    width: 35%;
    margin-left: 15px;
}
.choosecolor-ambients-container {
    width: 80%;
    height: 200px;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.choosecolor-palate-b {
    height: 50px;
    margin-top: 15px;
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .choosecolor-selectcontainer div {
        font-size: 16px;
    }
    .choosecolor-palate-b {
        height: 50px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
    .choosecolor-container {
        flex-direction: column;
    }
    .choosecolor-innercontainer {
        width: 95%;
        height: 570px;
        overflow: auto;
    }
    .choosecolor-innercontainer2 {
        width: 100%;
        height: 500px;
    }
}